<div class="alert alert-light alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Holy friends, Batman!</hh4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>Check out some of your best matches below.</p>
  <hr>
    <ul>
        {{#each bestMatches}}
            <li>Name: {{name}}</li>
            <li>Link to picture: {{picture}}</li>
            <li>Score results: {{scores}}</li>
    </ul>
    
</div>